body,div,a{
    margin:0;
    padding:0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}
header{
    display:block;
    width:100%;
    text-align:center;
}
a{
    text-decoration: none;
    display:block;
    width:140px;
    height:40px;
    margin:40px auto;
    padding:0 20px;
    background:#8f7a66;
    color:#f9f6f2;
    line-height:40px;
    border-radius:3px;
}
#game-container{
    padding:20px;
    width:460px;
    height:460px;
    background-color:#bbada0;
    margin: 20px auto;
    border-radius:6px;
    position:relative;
}
.game-cell{
    width:100px;
    height:100px;
    background: rgba(238, 228, 218, 0.35);
    border-radius:3px;
    position:absolute;
}
.number-cell{
    width:0;
    height:0;
    font-weight: bold;
    position:absolute;
    line-height:100px;
    border-radius:3px;
    text-align:center;
}

#gameOver{
    width:500px;
    height:500px;
    background-color:rgba(255,255,255,0.5);
    border-radius:6px;
    position:absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#gameOverText{
    font-size:60px;
    color: lightcoral;
}